body {
	font-family: Arial;
	margin: 0px;
	background-color: var(--color-background);
}

.theme_light {
	--color-background: #dcdde1;
	--color-inverted-background: #2f3640;
	--color-card-background: #f5f6fa;
	--font-color: #000000;
	--color-red: #c23616;
	--color-green: #44bd32;
	--color-light-blue: #0097e6;
	--color-blue: #273c75;
	--color-white: #f5f6fa;
}

.theme_dark {
	--color-inverted-background: #dcdde1;
	--color-background: #2f3640;
	--color-card-background: #353b48;
	--font-color: #f5f6fa;
	--color-red: #c23616;
	--color-green: #44bd32;
	--color-light-blue: #0097e6;
	--color-blue: #273c75;
	--color-white: #f5f6fa;
}

h1 {
	font-size: 28px;
	font-weight: bold;
	padding: 5px;
	padding-left: 15px;
	margin: 0px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	padding: 2.5px;
	padding-left: 15px;
	margin: 0px;
}

button {
	font-size: 16px;
	border-width: 0px;
	border-radius: 5px;
	padding: 5px;
}

#module_container {
	columns: 3 350px;
	margin-top: 50px;
}

.label_value_pair {
	display: grid;
	grid-template-columns: 50% 50%;
}

.label {
	display: flex;
	justify-content: flex-end;
	padding: 2.5px;
	font-weight: bold;
}

.value {
	padding: 2.5px;
}

hr {
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-color: #0097e6;
}

.module_card {
	display: inline-block;
	margin: 10px;
	border-radius: 5px;
	width: calc(100% - 20px);
	padding-bottom: 2.5px;
	color: var(--font-color);
	background-color: var(--color-card-background);
}

.module_header {
	display: flex;
	align-items: center;
}

.status_indicator {
	display: flex;
	justify-content: center;
	color: var(--color-white);
	padding: 3px 10px 3px 10px;
	border-radius: 5px;
	font-size: 20px;
	margin-left: 20px;
	background-color: var(--color-blue);
}
