#content-selector {
	height: 4em;
	display: flex;
	background-color: 
}

#content-selector > button {
	height: 100%;
	padding: 0em 0.5em ;
	margin: 0;
}


#content {
	height: 90vh;
}

.dashboard-tab {
	height: 100%;
}


#mod-edit {
	background-color: var(--clr-surface-1);
}

#mod-edit-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


#dashboard-mod-holder {
	columns: 3 20em;
	column-gap: 0px;
}

#dashboard-mod-holder > * {
	display: inline-block;
	width: calc(100% - 0.2em);
	margin: 0.1em;
	overflow: hidden;
}


